<nav class="navbar navbar-expand-sm navbar-dark bg-dark" id="main-nav">
  <div class="container">
    <a class="navbar-brand" href="/">Flaya-Data-Collector</a>
    <div class="links">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">  
          <% if (locals.user) { %>
            <a class="nav-link text-light" href="/flyers">Flyers</a>
            <a class="nav-link text-light" href="/account">Profile</a>
            <a class="nav-link text-light nav-link--logout" href="#">Logout</a>
          <% } else { %>
            <a class="nav-link text-light" href="/login">Login</a>
            <a class="nav-link text-light" href="/signup">Signup</a>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</nav>
<header class="container">
  <% if (locals.user) { %>
    <div class="text-dark py-4">Welcome <%= locals.user.name %></div>
    <% } else { %>
  <div class="text-dark py-4">Welcome Guest User</div>
  <% } %>
  </header>
