<!-- CREATE HEAD -->
<section id="create-head-section" class="card text-dark">
   <div class="row py-5">
      <div class="col text-center">
         <h2 class="display-4 card-title">Create </h2>
         <p class="lead">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, cumque non
            temporibus debitis recusandae voluptates possimus expedita animi unde illum assumenda
            ratione fugit consectetur.
         </p>
         <a href="/flyer/create" class="btn btn-outline-dark my-3">Start Creating</a>
      </div>
   </div>
   <div class="container py-5">
      <div class="row" id="create-section">
         <div class="col-md-6 order-2">
            <img src="img/contemporary.jpg" alt="Photo" class="img-fluid mb-3 img-thumbnail">
         </div>
         <div class="col-md-6 order-1">
            <div class="ml-3">
               <h3 class="pb-4">Create your passion</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum magnam perspiciatis vero
                  laboriosam exercitationem nulla aspernatur sequi porro ipsa nihil!</p>
            </div>
            <div class="d-flex">
               <div class="p-3 align-self-start">
                  <i class="fas fa-check fa-2x"></i>
               </div>
               <div class="p-3 align-self-start">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim.</p>
               </div>
            </div>
            <div class="d-flex">
               <div class="p-3 align-self-start">
                  <i class="fas fa-check fa-2x"></i>
               </div>
               <div class="p-3 align-self-start">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim.</p>
               </div>
            </div>

            <div class="d-flex">
               <div class="p-3 align-self-start">
                  <i class="fas fa-check fa-2x"></i>
               </div>
               <div class="p-3 align-self-start">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>