
<%- include('partials/header') %>
<div class="container">
   <h3>Something went wrong in the <b>globalErrorHandler</b></h3>
   <p>
     <%= msg %>
   </p>
</div>

<%- include('./partials/footer') -%>