<% extend('layout') %>

<div class="container my-4">
  <header>
    <div class="row">
      <div class="col-md">
        <%- include('flyers/create') -%>
      </div>
      <div class="col-md">
        <%- include('flyers/list') -%>
      </div>
    </div>
  </header>
</div>