<%- include('partials/header') %>
<div class="container">
  <div class="row">
    <div class="col-md">
      <h5 class="text-dark my-4 text-center">Forget Password</h5>
      <div class="col d-flex justify-content-center">
        <form class="form--forget-password" style="min-width: 50%;">
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <button type="submit" class="btn btn-primary mt-2">Request For New Password</button>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>