<%- include('partials/header') %>
<div class="container">
  <h5 class="text-dark my-4 text-center">Reset Password</h5>
  <div class="row">
   <div class="col d-flex justify-content-center">
      <form class="form-reset-password"  style="min-width: 50%;">
         <div class="form-group">
           <label for="exampleInputEmail1">Email address</label>
           <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
           <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
         </div>
         <div class="form-group">
           <label for="password">New Password</label>
           <input type="password" name="newPassword" class="form-control" id="password">
         </div>
         <div class="form-group">
           <label for="passwordConfirm">Confirm New Password</label>
           <input type="password" name="passwordConfirm" class="form-control" id="passwordConfirm">
         </div>
         <button type="submit" class="btn btn-primary">Reset Password</button>
      </form>
   </div>
  </div>
</div>
<%- include('partials/footer') -%>