<%- include('partials/header') %>

<div class="container my-4">

  <h5 class="text-dark my-4 text-center">Reset Password</h5>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <form class="form--reset-password"  style="min-width: 50%;">
          <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" name="password" class="form-control" id="password">
          </div>
          <div class="form-group">
            <label for="passwordConfirm">Confirm New Password</label>
            <input type="password" name="passwordConfirm" class="form-control" id="passwordConfirm">
          </div>
          <button type="submit" class="btn btn-primary">Reset Password</button>
      </form>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>