<% extend('layout') %>

<div class="container my-4">
  <h3 class="text-center">User Profile for <%= user.name %></h3>
  
  <%- include('partials/account-tab') -%>

  <h5 class="text-dark my-4 text-center">Update Password</h5>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <form class="form--update-password"  style="min-width: 50%;">
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" name="email" class="form-control" id="email" aria-describedby="Email">
          </div>
          <div class="form-group">
            <label for="passwordCurrent">Current Password</label>
            <input type="password" name="passwordCurrent" class="form-control" id="passwordCurrent">
          </div>
          <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" name="password" class="form-control" id="password">
          </div>
          <div class="form-group">
            <label for="passwordConfirm">Confirm New Password</label>
            <input type="password" name="passwordConfirm" class="form-control" id="passwordConfirm">
          </div>
          <button type="submit" class="btn btn-primary">Update Password</button>
      </form>
    </div>
  </div>
</div>