<%- include('partials/header') %>

<div class="container my-4">
  <h3 class="text-center">User Profile for <%= user.name %></h3>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="/reset">Reset Password</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
  </ul>
  
</div>

<%- include('partials/footer') -%>