<div class="container">
   <h5 class="text-dark my-4 text-center">Create Flyer</h5>
   <div class="row">
      <div class="col d-flex justify-content-center">
         <form class="form--create-flyer" style="width: 100%;">
            <div class="form-group">
               <label for="name">Title</label>
               <input type="text" id="title" name="title" class="form-control" placeholder="Event Title" />
            </div>
            <div class="form-group">
               <label for="date">Date</label>
               <input type="date" id="date" name="date" class="form-control" />
            </div>
            <div class="form-group">
               <label for="event-dj">Dj</label>
               <input type="text" id="event-dj" name="event-dj" class="form-control" />
            </div>
            <div class="form-group">
               <label for="hosts">Hosts</label>
               <input type="text" class="form-control" id="hosts" placeholder="Enter host names seperatd with comma ',' ">
            </div>
            <div class="form-group">
               <label for="hosts">Club</label>
               <input type="text" class="form-control" id="hosts" placeholder="Sound Bar Lounge">
            </div>
            <div class="form-group">
               <label for="inputAddress">Address/Location</label>
               <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="form-group">
               <label for="rsvp">RSVP</label>
               <input type="text" class="form-control" id="rsvp" >
            </div>
            <div class="form-group">
               <label for="for_more_info">For More Info</label>
               <input type="text" class="form-control" id="for_more_info" >
            </div>
            <div class="form-group">
               <label for="hashtags">Hashtags</label>
               <input type="text" class="form-control" id="hashtags" placeholder="Enter hashtags seperatd with comma ',' ">
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
         </form>
      </div>
   </div>
</div>