<h5 class="text-dark my-4 text-center">List of in progress flyer goes here</h5>
<ul>
   <li>Flyer 1 <span class="text-primary">In Progress</span></li>
   <li>Flyer 2</li>
   <li>Flyer 2</li>
   <li>Flyer 2</li>
</ul>